<link href="~/lib/slim-select/slimselect.min.css" rel="stylesheet" asp-append-version="true" />

<div id="productList">
    @await Component.InvokeAsync("ProductsList")
</div>

<form id="productListForm" method="post"></form>
<button class="btn btn-primary" id="btnNext">Next</button>

<div id="container"></div>
<button class="btn btn-primary" id="btnSubmit" type="submit" style="display: none">Submit</button>

<input type="hidden" asp-for="@ViewData["CustomerId"]" id="customerId" />


<button class="btn btn-primary" id="btnPrevious" style="display: none">Previous</button>

@section Scripts
{
    <script src="~/lib/slim-select/slimselect.min.js" asp-append-version="true"></script>
    <script>
        var slim = new SlimSelect({
            select: '#productsSelectList',
            placeholder: "Choose product to add",
            searchText: "It is not available product",
            searchPlaceholder: "Search for available product"
        });

        $(function () {
            $("#btnNext").click(function () {
                var ids = $("#productsSelectList").val();
                var token = $("#productListForm input[name=__RequestVerificationToken]").val();

                $.ajax({
                    type: "post",
                    url: "/Sales/SaleProductPartial",
                    data: { "ids": ids },
                    headers: { 'X-CSRF-TOKEN': token },
                    success: function (result) {
                        $("#container").append(result);
                        $("#productList").hide(result);
                        $("#btnNext").hide();
                        if (ids != 0) {
                            $("#btnSubmit").show();

                        }
                        $("#btnPrevious").show();

                    },
                    error: function (ex) {
                        alert("Error");
                    }
                });
            });
        });

        $(function () {
            $("#btnPrevious").click(function () {

                $("#container").empty();
                $("#productList").show();
                $("#btnNext").show();
                $("#btnPrevious").hide();
                $("#btnSubmit").hide();
            });
        });

        $(function () {
            $("#btnSubmit").click(function () {
                var customerId = $("#customerId").val();
                var token = $("#myForm input[name=__RequestVerificationToken]").val();

                var data = $("#myForm").serialize();
                $.ajax({
                    type: "post",
                    url: "/Sales/Create",
                    data: data + '&customerId=' + customerId,
                    headers: { 'X-CSRF-TOKEN': token },
                    success: function (response) {
                        if (response.result == "Success") {
                            window.location = response.url;
                        } else {

                            $("#container").empty();
                            $("#container").append(response);
                        }
                    },
                    error: function (ex) {
                        alert("Error");
                    }
                });
            });
        });

    </script>

}
