@{
    ViewData["Title"] = "Home page";
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<a asp-controller="EmployeesManager" asp-action="Create" class="btn btn-primary">Add Employer</a>
<div class="container">

    <form id="employeesTableForm" method="post"></form>


    <table id="employeesTable" class="table table-hover display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Employer Name</th>
                <th>Job Title</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Customers</th>
                <th>Sales</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade" id="editAssetModal" tabindex="-1" role="dialog" aria-labelledby="EditAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="employerActionContainer">
    </div>
</div>


@section Scripts
{



    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/emoployerDataTable.js"></script>
}