@using MiniCRM.Web.Infrastructure
<li class="nav-item ">

    <a asp-area="Employees" asp-controller="Customers" asp-action="Index"
       class="nav-link @Url.MakeActiveClass("customerManager","index")">
        <i class="nav-icon fas fa-user"></i>
        <p>
            All Customers
        </p>
    </a>
</li>
<li class="nav-item ">

    <a asp-area="Employees" asp-controller="Customers" asp-action="Create"
       class="nav-link @Url.MakeActiveClass("customerManager","create")">
        <i class="nav-icon fas fa-user"></i>
        <p>
            Add Customer
        </p>
    </a>
</li>