@using MiniCRM.Web.Infrastructure
<li class="nav-item ">

    <a asp-area="Owners" asp-controller="EmployeesManager" asp-action="Create"
       class="nav-link @Url.MakeActiveClass("employees","create")">
        <i class="nav-icon fas fa-user"></i>
        <p>
            add employer
        </p>
    </a>
</li>