@*@model MiniCRM.Web.ViewModels.Sales.SaleViewModel

    @foreach (var product in @Model.Products)
    {
        @product.ProductName
        <br />
        @product.Quantity
        <br />
        @product.Benefit
        <br />

    }*@
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title"></h4>
        </div>
     sadasdasd
    </div>
</div>  