@model MiniCRM.Web.ViewModels.Employees.EmployerShortInfoViewModel

<div class="form-row">
    <b>Employer: </b><i>@Model.FullName</i> 
</div>
<div class="form-row">
    <b>Job title: </b><i>@Model.JobTitleName</i>
</div>
<div class="form-row">
    <b>Customers number: </b><i>@Model.CustomersCount</i>
</div>

