@{
    ViewData["Title"] = "All customers";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div id="employerName"></div>
<a asp-area="Employees" asp-controller="Customers" asp-action="Create" class="btn btn-primary">Add customer</a>
<div class="container">
    <form id="customersTableForm" method="post"></form>

    <table id="customersTable" class="table table-hover display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer Name</th>
                <th>Job Title</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Orders</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{


    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/customersEmployerDataTable.js"></script>
}