
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>

<a asp-area="Administration" asp-controller="Roles" asp-action="Index">Roles manager</a>
<br />
<a asp-area="Administration" asp-controller="UserRoles" asp-action="Index">User Roles manager</a>
