@model MiniCRM.Web.ViewModels.ChangePasswordModel

<div class="login-box justify-content-center">
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>

            <form asp-area="" asp-controller="Home" asp-action="ChangePassword" method="post">
                <div asp-validation-summary="All"></div>
                <div class="input-group mb-3">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                     <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Change password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>