@model MiniCRM.Web.ViewModels.Employees.EmployeeCreateModel;
@{
    this.ViewData["Title"] = "Add new customer";

}

<div class="container">
    <form class="user" asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Personal data</h1>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0 ">
                                    <select asp-for="Title" asp-items="Html.GetEnumSelectList<Title>()" class="selectBox"><option disabled selected>--Select customer title--</option></select>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <input asp-for="FirstName" type="text" class="form-control form-control-user" placeholder="First Name">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-4">
                                    <input asp-for="MiddleName" type="text" class="form-control form-control-user" placeholder="Middle Name">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-4">
                                    <input asp-for="LastName" type="text" class="form-control form-control-user" placeholder="Last Name">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row phone_input" id="phonesDiv">
                                <div class="col-sm-5 mb-3 mb-sm-0">
                                    <input asp-for="Phones[0].Phone" type="text" class="form-control form-control-user" placeholder="Phone number">
                                    <span asp-validation-for="Phones[0].Phone" class="text-danger"></span>
                                </div>
                                <div class="col-sm-5 mb-3 mb-sm-0">
                                    <select asp-for="Phones[0].PhoneType" asp-items="Html.GetEnumSelectList<PhoneType>()" class="selectBox"><option disabled selected>--Select phone type--</option></select>
                                    <span asp-validation-for="Phones[0].PhoneType" class="text-danger"></span>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 form-inline">
                                    <a class="add_Phone btn btn-primary btn-circle btn-sm" id="addPhoneButton" href="#"><i class="fas fa-plus-square fa-lg"></i></a>
                                </div>
                            </div>
                            <div id="PhoneContainer"></div>
                            <div class="form-group row email_input" id="emailsDiv">
                                <div class="col-sm-5 mb-3 mb-sm-0">
                                    <input asp-for="Emails[0].Email" class="form-control form-control-user" placeholder="Email address">
                                    <span asp-validation-for="Emails[0].Email" class="text-danger"></span>
                                </div>
                                <div class="col-sm-5 mb-3 mb-sm-0">
                                    <select asp-for="Emails[0].EmailType" asp-items="Html.GetEnumSelectList<EmailType>()" class="selectBox"><option disabled selected>--Select email type--</option></select>
                                    <span asp-validation-for="Emails[0].EmailType" class="text-danger"></span>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 form-inline">
                                    <a class="add_Email btn btn-primary btn-circle btn-sm" id="addEmailButton" href="#"><i class="fas fa-plus-square fa-lg"></i></a>
                                </div>
                            </div>
                            <div id="EmailContainer"></div>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input asp-for="JobTitle" class="form-control form-control-user" placeholder="Job Title">
                                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Address data</h1>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Address.Country" class="form-control form-control-user" placeholder="Country">
                                <span asp-validation-for="Address.Country" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Address.City" class="form-control form-control-user" placeholder="City">
                                <span asp-validation-for="Address.City" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Address.Street" class="form-control form-control-user" placeholder="Street">
                                <span asp-validation-for="Address.Street" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Address.ZipCode" class="form-control form-control-user" placeholder="Zip Code">
                                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />


            <button type="submit" class="btn btn-primary btn-user">Add Customer</button>



        </div>
    </form>
</div>


@section Scripts {

    <script src="~/js/CreateEditEmployer.js"></script>
    @*<partial name="_ValidationScriptsPartial" />*@

}
