@model MiniCRM.Web.ViewModels.Sales.SaleCreateModel
@*@{
        var products = Model.ProductsList.Select(x => new SelectListItem(x.Name, x.Id.ToString()));

    }*@
@*<link href="~/lib/slim-select/slimselect.min.css" rel="stylesheet" asp-append-version="true" />

    <select id="demo" asp-items="products" asp-for="SelectedIDs" multiple>
    </select>
    <input type="hidden" id="customerId" value="@Model.Sale.CustomerId" />*@
<div id="productList">

    @await Component.InvokeAsync("ProductsList")
</div>
<button class="btn btn-primary" id="btnNext">Next</button>
<form asp-action="Create">
    <div id="container"></div>
    <button class="btn btn-primary" type="submit">Submit</button>
    <input type="hidden" asp-for="CustomerId" asp-route="@Model" />

</form>
    <button class="btn btn-primary" id="btnPrevious" style="display: none">Previous</button>

@section Scripts
{
    <script src="~/lib/slim-select/slimselect.min.js" asp-append-version="true"></script>
    <script>
        var slim = new SlimSelect({
            select: '#demo',
            placeholder: "Choose product to add",
            searchText: "It is not available product",
            searchPlaceholder: "Search for available product"

        });

    </script>
    <script>
        $(function () {
            $("#btnNext").click(function () {
                var ids = $("#demo").val();
                var customerId = $("#customerId").val();
                $.ajax({
                    type: "post",
                    url: "/Employees/Sales/SaleProductPartial",
                    data: { "ids": ids, "customerId": customerId },
                    success: function (result) {
                        $("#container").append(result);
                        $("#productList").hide(result);
                        $("#btnNext").hide();
                        $("#btnPrevious").show();

                    },
                    error: function (ex) {
                        alert("Error");
                    }
                });



            });
        });
    </script>
    <script>
        $(function () {
            $("#btnPrevious").click(function () {

                $("#container").empty();
                $("#productList").show();
                $("#btnNext").show();
            });
        });
    </script>
}