@model MiniCRM.Web.ViewModels.Customer.CustomerCreateModel;
@{
    this.ViewData["Title"] = "Add new customer";
    var employees = Model.Employees.Select(x => new SelectListItem(x.FullName, x.Id.ToString()));
}

<div class="container">
    <form asp-area="Owners" asp-controller="CustomerManager" asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="card border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 mb-4">Personal data</h1>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input asp-for="JobTitle" class="form-control" placeholder="Job Title">
                                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-4">
                                    <input asp-for="MiddleName" type="text" class="form-control" placeholder="Middle Name">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-4">
                                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Phone" type="text" class="form-control" placeholder="Phone number">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Email" class="form-control" placeholder="Email address">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <select asp-for="EmployerId" asp-items="employees" id="EmployerId" class="form-control"><option disabled selected>--Choose Employer--</option></select>
                                <span asp-validation-for="EmployerId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <textarea asp-for="AdditionalInfo" class="form-control" placeholder="Additional information" rows="3"></textarea>
                                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 mb-4">Address data</h1>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Country" class="form-control " placeholder="Country">
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <input asp-for="City" class="form-control" placeholder="City">
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Street" class="form-control" placeholder="Street">
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <input asp-for="ZipCode" class="form-control" placeholder="Zip Code">
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                            <div id="container"></div>
                        </div>
                    </div>
                </div>
                <input asp-for="EmployerId" type="hidden" />

            </div>
            <button type="submit" class="btn btn-primary btn-block">Add Customer</button>

            <br />
        </div>
    </form>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#EmployerId").change(function (e) {

                $.ajax({
                    type: 'get',
                    url: '@Url.Action("EmployerPartial")',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'html',
                    data: { "EmployerId": $(this).val() },
                    success: function (result) {
                        $("#container").html(result);
                    },
                    error: function (ex) {
                        alert("Error");
                    }
                });

            });

        });
    </script>

}
