@{
    ViewData["Title"] = "All customers";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<input id="employerId" value="@this.ViewData["EmployerId"]" type="hidden" />
<div id="employerName"></div>
<a asp-controller="EmployeesManager" asp-action="Create" class="btn btn-primary">Add customer</a>
<div class="container">
    <form id="customersTableForm" method="post"></form>

    <table id="customersTable" class="table table-hover display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer Name</th>
                <th>Job Title</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Responsible employer</th>
                <th>Orders</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>



<div class="modal fade" id="employerActionsModal" tabindex="-1" role="dialog" aria-labelledby="employerActionsModal" aria-hidden="true" data-backdrop="static">
    <div id="employerActionsContainer">
    </div>
</div>


@section Scripts
{


    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/customersOwnerDataTable.js"></script>
}